In [68]:

list1=[2, 3, 6]
s=1
for i in list1:
  s=s*i
print(s)

36

In [57]:
list1=[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
list1.sort()
print(list1)

[(1, 2), (2, 1), (2, 3), (2, 5), (4, 4)]

In [72]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
for key in d2:
    if key in d1:
      d2[key] = d2[key] + d1[key]
print(d2)

{'a': 400, 'b': 400, 'd': 400}

In [ ]:
d={}
n=int(input("entrez un nb"))

for i in range(1,n+1):
 d[i]=i*i
print(d)

In [103]:
 list= [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
list.reverse()
print(list)

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]