In [ ]:

list1=[2, 3, 6]
s=1
for i in list1:
  s=s*i
print(s)

36

In [53]:
list=[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
list.sort(key=lambda x:x[1])
print(list)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [52]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
d3={}
for key in d2:
    if key in d1:
      d2[key] = d2[key] + d1[key] 
d3=dict(d1,**d2) 
print(d3)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

In [ ]:
d={}
n=int(input("entrez un nb"))

for i in range(1,n+1):
 d[i]=i*i
print(d)

entrez un nb6
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [54]:
 list= [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
list.sort(key=lambda x=float:x[1])
print(list)

[('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]